<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas Diretas</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=".">Gestão de vendas Diretas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="cadastroFornecedor">Fornecedor</a></li>
            <li class="nav-item"><a class="nav-link" href="cadastroCiclo">Ciclos</a></li>
            <li class="nav-item"><a class="nav-link" href="cadastroProduto">Produtos</a></li>
            <li class="nav-item"><a class="nav-link" href="cadastroCliente">Clientes</a></li>
            <li class="nav-item"><a class="nav-link" href="cadastroPedido">Pedidos</a></li>
            <li class="nav-item"><a class="nav-link" href="cadastroDetalheDoPedido">DetalhesDoPedidos</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="estoque">Estoque</a></li>
          </ul>
        </div>
      </nav>
    
    <div class="container">
         {% block body_block %}
            <!--Todos os conteúdos entrarão aqui-->
         {% endblock %}
    </div>
    
    <div class="container">
      {% block blocoListaFornecedores %}
         <!--Todos os conteúdos entrarão aqui-->
      {% endblock %}
    </div>

</body>
</html>